<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>23948295664-ivg0udu2i1gkir0j8v5h0ksaud2a1797.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.23948295664-ivg0udu2i1gkir0j8v5h0ksaud2a1797</string>
	<key>API_KEY</key>
	<string>AIzaSyDsibhZ6KGd1Tjs4RXIMZwLdFheXw_obx0</string>
	<key>GCM_SENDER_ID</key>
	<string>23948295664</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.eutech.pregnancy</string>
	<key>PROJECT_ID</key>
	<string>pregnancy-app-1340a</string>
	<key>STORAGE_BUCKET</key>
	<string>pregnancy-app-1340a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:23948295664:ios:21b62610eda4a45c24b135</string>
</dict>
</plist>